@charset "UTF-8";

/* ==========================================================================
   1. Root Variables (전역 변수)
   ========================================================================== */
:root {
  --system-color: #222222;
  --system-white: #eeeeee;
  --system-background-color: #dddddd;
  --app-grid-col: 12;
  --app-grid-row: 4;
  --app-grid-col-gap: 10px;
  --app-grid-row-gap: 10px;
  --app-grid-padding: 40px;
}
@media (max-width: 767px) {
  :root {
    --app-grid-padding: 20px;
  }
}

/* ==========================================================================
   2. CSS Reset (destyle.css)
   ========================================================================== */
*,
:before,
:after {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
}
main {
  display: block;
}
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}
pre {
  font-family: monospace, monospace;
  font-size: inherit;
}
address {
  font-style: inherit;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  vertical-align: bottom;
}
embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}
[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}
[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
}
select::-ms-expand {
  display: none;
}
option {
  padding: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
label[for] {
  cursor: pointer;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[contenteditable] {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  text-align: left;
}
td,
th {
  vertical-align: top;
  padding: 0;
}
th {
  text-align: left;
  font-weight: 700;
}
template,
[hidden] {
  display: none;
}

/* ==========================================================================
   3. Base & Global Styles
   ========================================================================== */
html {
  font-size: 0.7320644217vw;
  height: 100svh;
  overflow: hidden;
  overflow-x: clip;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1366px) and (min-width: 768px) {
  html {
    font-size: 0.7320644217vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 2.6666666667vw;
  }
}
html.is-wait {
  pointer-events: none;
  cursor: wait !important;
}
body {
  width: 100%;
  max-width: 2700px;
  height: 100svh;
  margin: auto;
  position: relative;
  background: var(--system-background-color);
  font-size: var(--sm);
  font-family: "PP Neue Montreal Book";
  color: var(--system-color);
  overflow: clip;
  overscroll-behavior: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "palt";
}
@media (max-width: 767px) {
  body {
    overflow-x: clip;
  }
}
body::-webkit-scrollbar {
  display: none;
}
a {
  cursor: pointer;
}
::selection {
  background: #1d1d1d;
  color: #ccc;
}
.lenis {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overscroll-behavior: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.lenis::-webkit-scrollbar {
  display: none;
}

/* ==========================================================================
   4. Utility Classes
   ========================================================================== */
@media (max-width: 767px) {
  .u-pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .u-sp {
    display: none !important;
  }
}
.u-medium {
  font-family: "PP Neue Montreal Medium";
}
.u-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  border: 0;
}
[data-page-title],
[data-page-title02],
[data-footer-type] {
  line-height: 1;
}
[data-page-title] .hide,
[data-page-title02] .hide,
[data-footer-type] .hide {
  height: fit-content;
  overflow: hidden;
}
[data-page-title] .show,
[data-page-title02] .show,
[data-footer-type] .show {
  display: inline-block;
  transform: translateY(-100%);
}
[data-page-title] .hide:nth-last-of-type(2n) .show,
[data-page-title02] .hide:nth-last-of-type(2n) .show,
[data-footer-type] .hide:nth-last-of-type(2n) .show {
  transform: translateY(100%);
}
[data-page-title] .u-space,
[data-page-title02] .u-space,
[data-footer-type] .u-space {
  min-width: 2rem;
}
[data-text-hide] {
  display: block;
  height: fit-content;
  overflow: hidden;
}
[data-text-show] {
  display: inline-block;
  transform: translateY(100%);
}

/* ==========================================================================
   5. Layout Components (l-*)
   ========================================================================== */
.l-header {
  width: 100%;
  position: fixed;
  top: 16px;
  left: 0;
  mix-blend-mode: difference;
  z-index: 100;
}
.l-header__inner {
  display: grid;
  column-gap: var(--app-grid-col-gap);
  grid-template-columns: repeat(12, 1fr);
  padding-inline: var(--app-grid-padding);
}
.l-header__logo {
  width: fit-content;
  font-size: 20px;
  color: #fff;
  grid-column: 1 / span 3;
}
.l-header__nav {
  grid-column: 9 / span 5;
}
.l-header__ul {
  display: flex;
  gap: 3px;
  justify-content: flex-end;
}
.l-header__list {
  font-size: 20px;
  color: #fff;
  position: relative;
}
@media (hover: hover) {
  .l-header__list:hover:after {
    width: 100%;
  }
}
.l-header__list:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--system-white);
  transition: all 0.4s ease;
}
.l-header__list.is-current {
  pointer-events: none;
}
.l-header__list.is-current:after {
  width: 100%;
}
@media (max-width: 767px) {
  .l-header__inner {
    grid-template-columns: repeat(4, 1fr);
  }
  .l-header__logo {
    font-size: 1.4rem;
    grid-column: 1 / span 2;
  }
  .l-header__nav {
    grid-column: 3 / span 2;
  }
  .l-header__list {
    font-size: 13px;
  }
}
.l-footer {
  width: 100%;
  height: 68rem;
  background: var(--system-background-color);
  padding-top: 20rem;
  overflow: hidden;
  position: relative;
}
.l-footer__grid {
  display: grid;
  column-gap: var(--app-grid-col-gap);
  grid-template-columns: repeat(12, 1fr);
  padding-inline: var(--app-grid-padding);
}
.l-footer__ul01 {
  grid-column: 1 / span 4;
}
.l-footer__ul02 {
  grid-column: 7 / span 2;
}
.l-footer__ul03 {
  grid-column: 10 / span 2;
}
.l-footer__li-main {
  width: 100%;
  font-size: 14px;
  border-bottom: 1px var(--system-color) dotted;
  padding-bottom: 6px;
  margin-bottom: 24px;
}
.l-footer__mail a {
  display: block;
  width: fit-content;
  font-size: 30px;
  position: relative;
}
@media (hover: hover) {
  .l-footer__mail a:hover:after {
    width: 100%;
  }
}
.l-footer__mail a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--system-color);
  transition: all 0.6s ease;
}
.l-footer__li {
  width: fit-content;
  font-size: 16px;
  margin-bottom: 10px;
}
@media (hover: hover) {
  .l-footer__li:hover a:after {
    width: 100%;
  }
}
.l-footer__li a {
  display: block;
  width: fit-content;
  position: relative;
}
.l-footer__li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--system-color);
  transition: all 0.4s ease;
}
.l-footer__big-type {
  display: flex;
  position: absolute;
  bottom: -2.3rem;
  left: 0;
  font-size: 11.9vw;
  font-family: "PP Neue Montreal Medium";
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .l-footer {
    height: 58rem;
    padding-top: 10rem;
  }
  .l-footer__grid {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-inline: 20px;
  }
  .l-footer__li-main {
    margin-bottom: 12px;
  }
  .l-footer__mail a {
    font-size: 16px;
  }
  .l-footer__big-type {
    font-size: 11vw;
    bottom: -0.6rem;
  }
}

/* ==========================================================================
   6. Reusable Components (c-*)
   ========================================================================== */
.c-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2.7rem;
}
.c-title-number {
  font-size: 15px;
  font-weight: 600;
}
.c-title-main {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .c-title-number {
    font-size: 1.3rem;
  }
  .c-title-main {
    font-size: 2rem;
  }
}
.c-link-button {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
}
@media (hover: hover) {
  .c-link-button:hover .c-link-button__round {
    transform: scale(0.8);
  }
  .c-link-button:hover .c-link-button__text {
    border-radius: 2rem;
  }
}
.c-link-button__text {
  display: block;
  border-radius: 0.4rem;
  background: var(--system-color);
  font-size: 1.3rem;
  font-family: "PP Neue Montreal Medium";
  font-weight: 500;
  color: var(--system-white);
  padding: 1.2rem 3.2rem;
  transition: all 0.4s ease;
}
.c-link-button__round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.1rem;
  height: 4.1rem;
  background: var(--system-color);
  border-radius: 100vmax;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--system-white);
  transition: all 0.3s ease-out;
}

/* ==========================================================================
   7. Page-Specific Styles (p-*)
   ========================================================================== */
.p-home {
  width: 100%;
  min-height: 200svh;
  background: var(--system-background-color);
  position: relative;
}
.p-about {
  width: 100%;
  min-height: 100svh;
  background: var(--system-background-color);
  padding-inline: var(--app-grid-padding);
}
.p-single,
.p-error {
  width: 100%;
  min-height: 100svh;
  background: var(--system-background-color);
}
.p-archive {
  width: 100%;
  min-height: 100svh;
  background: var(--system-background-color);
  padding-inline: var(--app-grid-padding);
  position: relative;
}
.p-selected {
  width: 100%;
  min-height: 100svh;
  background: var(--system-background-color);
}
.p-home-mv {
  height: 100svh;
  position: relative;
}
.p-home-mv__grid {
  width: 100%;
  position: relative;
  padding-top: 90px;
  z-index: 1;
  pointer-events: none;
  display: grid;
  column-gap: var(--app-grid-col-gap);
  grid-template-columns: repeat(12, 1fr);
  padding-inline: var(--app-grid-padding);
}
.p-home-mv__title {
  font-size: 12.7rem;
  font-weight: 600;
  color: var(--system-white);
  grid-column: 1 / span 13;
}
.p-home-mv__title span {
  display: block;
  text-transform: uppercase;
  line-height: 1;
}
.p-home-mv__title .p-home-mv__title-text01,
.p-home-mv__title .p-home-mv__title-text02 {
  display: flex;
}
.p-home-mv__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.p-home-mv__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  pointer-events: none;
}
@media (min-width: 768px) {
  .p-home-mv__title span {
    line-height: 0.8;
  }
  .p-home-mv__title .p-home-mv__title-text02 {
    width: fit-content;
    margin-left: auto;
    position: relative;
    top: 0;
  }
}
@media (max-width: 767px) {
  .p-home-mv__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .p-home-mv__title {
    font-size: 3.8rem;
    grid-column: 1 / span 4;
  }
}
.p-home-selected {
  padding-top: 17rem;
}
.p-home-selected__inner {
  padding-inline: 40px;
}
.p-home-selected__read-text {
  word-break: break-all;
  text-transform: uppercase;
  margin-bottom: 5.3rem;
}
.p-home-selected__read-text span {
  display: block;
  font-size: 52px;
  font-weight: 600;
  line-height: 1;
}
.p-home-selected__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.p-home-selected__item {
  display: flex;
  gap: 4rem;
  width: 100%;
  border: 1px var(--system-color) dotted;
  padding: 4.4rem;
}
.p-home-selected__item-image {
  width: 47.1rem;
  max-width: 100%;
  height: 39.3rem;
  background: #000;
}
.p-home-selected__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-home-selected__item-box {
  width: 65.6rem;
  max-width: 100%;
  padding-top: 20px;
  position: relative;
}
.p-home-selected__item-title {
  font-size: 4.8rem;
  font-weight: 600;
  border-bottom: 1px var(--system-color) dotted;
  padding-bottom: 6px;
  margin-bottom: 20px;
}
.p-home-selected__item-text {
  font-size: 2.4rem;
  line-height: 1.5;
  word-break: break-all;
}
.p-home-selected__item-button {
  width: fit-content;
  margin-left: auto;
}
@media (min-width: 768px) {
  .p-home-selected__item-button {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@media (max-width: 767px) {
  .p-home-selected {
    padding-top: 10rem;
  }
  .p-home-selected__inner {
    padding-inline: 20px;
  }
  .p-home-selected__read-text {
    margin-bottom: 2.4rem;
  }
  .p-home-selected__read-text span {
    font-size: 2.2rem;
  }
  .p-home-selected__items {
    gap: 1rem;
  }
  .p-home-selected__item {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
  .p-home-selected__item-image {
    height: 24rem;
  }
  .p-home-selected__item-box {
    padding-top: 0;
  }
  .p-home-selected__item-title {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }
  .p-home-selected__item-text {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}
.p-home-about {
  width: 100%;
  position: relative;
}
.p-home-about__sticky {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100svh;
  text-align: center;
  z-index: 0;
}
.p-home-about__sticky .c-title {
  width: fit-content;
  margin: 0 auto 30px;
}
.p-home-about__sticky-box {
  max-width: 990px;
}
.p-home-about__sticky-text {
  font-size: 52px;
  font-weight: 600;
  text-transform: uppercase;
}
.p-home-about__card {
  margin-bottom: 120px;
}
.p-home-about__card-body {
  background: #fff;
  padding-top: 120%;
  position: relative;
  z-index: 1;
}
.p-home-about__card-number {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 4rem;
  font-family: "PP Neue Montreal Medium";
  font-weight: 600;
  z-index: 1;
}
.p-home-about__card-box {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%);
  z-index: 1;
}
.p-home-about__card-title {
  width: fit-content;
  font-size: 3.2rem;
  font-family: "PP Neue Montreal Medium";
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}
.p-home-about__block {
  height: 100vh;
}
@media (min-width: 768px) {
  .p-home-about__card {
    display: grid;
    column-gap: var(--app-grid-col-gap);
    grid-template-columns: repeat(12, 1fr);
    padding-inline: var(--app-grid-padding);
  }
  .p-home-about__card-body {
    grid-column: 2 / span 4;
  }
  .p-home-about__card-body--even {
    grid-column: 8 / span 4;
  }
}
@media (max-width: 767px) {
  .p-home-about__sticky-box {
    padding-inline: 20px;
  }
  .p-home-about__sticky-text {
    font-size: 2.4rem;
  }
  .p-home-about__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .p-home-about__card-body {
    padding-top: 105%;
    width: 260px;
    margin: auto;
  }
  .p-home-about__card-body--even {
    width: 260px;
  }
  .p-home-about__card-number {
    font-size: 3.2rem;
    top: 20px;
    left: 20px;
  }
  .p-home-about__card-box {
    bottom: 30px;
  }
  .p-home-about__card-title {
    font-size: 2.4rem;
  }
}
.p-home-about__card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.p-home-archive {
  width: 100%;
  height: 130vh;
  position: relative;
}
.p-home-archive__inner {
  padding: 72px 40px;
  position: relative;
  z-index: 1;
}
.p-home-archive__inner .c-title {
  color: var(--system-white);
}
.p-home-archive__read-text {
  font-size: 52px;
  font-weight: 600;
  color: var(--system-white);
  text-transform: uppercase;
  margin-bottom: 40px;
}
.p-home-archive__button {
  width: fit-content;
}
.p-home-archive__button .c-link-button__text,
.p-home-archive__button .c-link-button__round {
  color: var(--system-color);
  background: var(--system-white);
}
.p-home-archive__background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.p-home-archive__background-inner {
  width: 110%;
  height: 110%;
  position: relative;
  top: -10%;
}
.p-home-archive__background-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .p-home-archive__inner {
    padding: 7rem 20px;
  }
  .p-home-archive__read-text {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
}
.p-about-head {
  background: var(--system-background-color);
  margin-bottom: 146px;
}
.p-about-head__flex {
  display: flex;
  justify-content: space-between;
  padding-inline: 40px 0;
}
.p-about-head__box {
  width: 382px;
  max-width: 100%;
  padding-top: 132px;
}
.p-about-head__title {
  display: flex;
  font-size: 6.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.p-about-head__text {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 50px;
}
.p-about-head__scroll {
  font-size: 13px;
}
.p-about-head__scroll span {
  display: inline-block;
}
.p-about-head__image {
  width: 73.1rem;
  height: 100svh;
  overflow: hidden;
}
.p-about-head__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-about-main__inner {
  display: flex;
  justify-content: space-between;
  padding-inline: 40px;
}
.p-about-main__inner a {
  position: relative;
}
@media (hover: hover) {
  .p-about-main__inner a:hover:after {
    width: 100%;
  }
}
.p-about-main__inner a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--system-color);
  transition: all 0.4s ease;
}
.p-about-main__left {
  width: 30rem;
  height: 40rem;
  background: #000;
}
.p-about-main__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-about-main__right {
  width: 69.1rem;
}
.p-about-main__item {
  border-bottom: 1px var(--system-color) dotted;
  padding-block: 6.5rem;
}
.p-about-main__item-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
}
.p-about-main__item-text,
.p-about-main__item-list {
  font-size: 3.2rem;
}
.p-about-main__item-list span {
  display: inline-block;
  margin-right: 10px;
}
.p-about-main__item-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  .p-about-main__left {
    position: sticky;
    top: 10vh;
  }
}
@media (max-width: 767px) {
  .p-about-head__flex {
    flex-direction: column;
    padding-inline: 20px;
  }
  .p-about-head__title {
    font-size: 32px;
    margin-bottom: 14px;
  }
  .p-about-head__text {
    font-size: 16px;
  }
  .p-about-head__scroll {
    margin-bottom: 20px;
  }
  .p-about-head__image {
    width: 100vw;
    height: 50rem;
    margin: 0 calc(50% - 50vw);
  }
  .p-about-head__image img {
    height: 120%;
    position: relative;
    top: -20%;
  }
  .p-about-main__inner {
    flex-direction: column;
    padding-inline: 20px;
  }
  .p-about-main__left {
    width: 20rem;
    height: 28rem;
    margin: auto;
  }
  .p-about-main__right {
    width: 100%;
  }
  .p-about-main__item {
    padding-block: 3rem;
  }
  .p-about-main__item-title {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
  }
  .p-about-main__item-text,
  .p-about-main__item-list {
    font-size: 1.6rem;
  }
}
.p-archive-main__sticky,
.p-archive-main__sticky02 {
  width: 100%;
  height: 100svh;
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: -100svh;
  pointer-events: none;
}
.p-archive-main__sticky02 {
  mix-blend-mode: difference;
  z-index: 1;
}
.p-archive-main__title {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.p-archive-main__progress {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 1px;
  height: 200px;
  background: #ababab;
}
.p-archive-main__progress-round {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 10px;
  height: 10px;
  background: #222;
  border-radius: 100vmax;
}
.p-archive-main__slide {
  display: flex;
  gap: 5px;
  width: 50rem;
  background: var(--system-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  overflow: hidden;
}
.p-archive-main__slide span {
  display: flex;
  font-size: 2.2rem;
  white-space: nowrap;
  text-transform: uppercase;
  animation: loop 60s linear infinite;
}
.p-archive-main__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-block: 100px;
}
.p-archive-main__item {
  width: 40rem;
  height: 50rem;
  border: 1px #000 solid;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}
.p-archive-main__item:nth-of-type(2n) {
  position: relative;
  left: -20vw;
}
.p-archive-main__item:nth-of-type(odd) {
  position: relative;
  left: 20vw;
}
@media (hover: hover) {
  .p-archive-main__item:hover {
    transform: scale(0.9);
  }
  .p-archive-main__item:hover .p-archive-main__item-round {
    transform: translate(-50%, -50%) scale(1);
  }
  .p-archive-main__item:hover .p-archive-main__item-number,
  .p-archive-main__item:hover .p-archive-main__item-title,
  .p-archive-main__item:hover .p-archive-main__item-year {
    color: var(--system-white);
  }
}
.p-archive-main__item-round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 120rem;
  height: 120rem;
  background: var(--system-color);
  border-radius: 100vmax;
  transition: all 0.8s ease;
}
.p-archive-main__item-number {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 4rem;
  z-index: 1;
  transition: all 1s ease;
}
.p-archive-main__item-box {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 1;
}
.p-archive-main__item-year {
  font-size: 2rem;
  margin-bottom: 8px;
  transition: all 1s ease;
}
.p-archive-main__item-title {
  font-size: 3.6rem;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .p-archive-main__title {
    font-size: 32px;
  }
  .p-archive-main__progress {
    display: none;
    right: 0;
    height: 140px;
  }
  .p-archive-main__slide {
    width: 30rem;
  }
  .p-archive-main__slide span {
    font-size: 1.8rem;
  }
  .p-archive-main__items {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .p-archive-main__item {
    width: 16rem;
    height: 17.5rem;
  }
  .p-archive-main__item:nth-of-type(2n) {
    left: 0;
  }
  .p-archive-main__item:nth-of-type(odd) {
    left: 0;
  }
  .p-archive-main__item-number {
    font-size: 1.8rem;
    top: 10px;
    left: 10px;
  }
  .p-archive-main__item-box {
    bottom: 10px;
    left: 10px;
  }
  .p-archive-main__item-year {
    font-size: 1.3rem;
  }
  .p-archive-main__item-title {
    font-size: 1.6rem;
  }
}
.p-selected-head {
  padding-top: 337px;
  margin-bottom: 46px;
  position: relative;
}
.p-selected-head__grid {
  max-width: calc(100% - 80px);
  margin: auto;
  border-bottom: 1px var(--system-color) dotted;
  padding-bottom: 46px;
  padding-inline: 0 !important;
}
.p-selected-head__title {
  display: flex;
  justify-content: flex-end;
  font-size: 64px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
}
.p-selected-head__text {
  font-size: 20px;
  line-height: 1.4;
}
.p-selected-main__items {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-inline: 40px;
}
.p-selected-main__item {
  border-bottom: 1px var(--system-color) dotted;
  padding-bottom: 18px;
}
.p-selected-main__item-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 18px;
}
.p-selected-main__item-parts {
  display: flex;
  gap: 2rem;
  margin-bottom: 20px;
}
.p-selected-main__item-video {
  width: 31.6rem;
  height: 15.4rem;
}
.p-selected-main__item-video img,
.p-selected-main__item-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-selected-main__item-button {
  width: fit-content;
  margin-left: auto;
}
@media (min-width: 768px) {
  .p-selected-head__grid {
    display: grid;
    column-gap: var(--app-grid-col-gap);
    grid-template-columns: repeat(12, 1fr);
    padding-inline: var(--app-grid-padding);
  }
  .p-selected-head__title {
    grid-column: 7 / span 6;
  }
  .p-selected-head__text {
    grid-column: 1 / span 6;
  }
}
@media (max-width: 767px) {
  .p-selected-head {
    padding-top: 132px;
  }
  .p-selected-head__grid {
    max-width: calc(100% - 40px);
  }
  .p-selected-head__title {
    font-size: 32px;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 14px;
  }
  .p-selected-head__text {
    font-size: 16px;
  }
  .p-selected-main__items {
    gap: 22px;
    padding-inline: 20px;
  }
  .p-selected-main__item-title {
    font-size: 2.4rem;
  }
  .p-selected-main__item-scroll {
    width: 100vw;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 0 calc(50% - 50vw) 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .p-selected-main__item-scroll::-webkit-scrollbar {
    display: none;
  }
  .p-selected-main__item-parts {
    width: fit-content;
    margin-bottom: 0;
  }
  .p-selected-main__item-video {
    width: 25rem;
    height: 13rem;
    white-space: nowrap;
  }
}
.p-single-mv {
  height: 100svh;
  position: relative;
  margin-bottom: 12rem;
}
.p-single-mv__grid {
  width: 100%;
  position: relative;
  padding-top: 90px;
  z-index: 1;
  display: grid;
  column-gap: var(--app-grid-col-gap);
  grid-template-columns: repeat(12, 1fr);
  padding-inline: var(--app-grid-padding);
}
.p-single-mv__title {
  font-size: 12.7rem;
  font-weight: 600;
  color: var(--system-white);
  grid-column: 1 / span 13;
}
.p-single-mv__title span {
  display: block;
  text-transform: uppercase;
  line-height: 1;
}
.p-single-mv__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.p-single-mv__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-single-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 24px;
}
.p-single-text {
  font-size: 3.2rem;
  line-height: 1.5;
  word-break: break-all;
}
.p-single-detail,
.p-single-scope {
  width: calc(100% - 80px);
  border-bottom: 1px var(--system-color) dotted;
  padding-block: 50px;
  margin: auto;
}
.p-single-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 70px;
}
.p-single-images__item {
  width: calc(100% - 20px);
  height: 100vh;
  margin: auto;
}
.p-single-images__item img,
.p-single-images__item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-single-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100svh;
  position: relative;
}
.p-single-next .u-space {
  display: block;
  width: 10px;
}
.p-single-next a {
  display: flex;
  height: fit-content;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
@media (hover: hover) {
  .p-single-next a:hover:after {
    width: 100%;
  }
}
.p-single-next a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--system-color);
  transition: all 0.4s ease;
}
.p-single-next span {
  display: block;
  font-size: 7.4rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  transform: translateY(-100%);
}
.p-single-next span:nth-last-of-type(2n) {
  transform: translateY(100%);
}
.p-single-next .mouse-point {
  position: absolute;
  top: -7rem;
  left: -3rem;
  width: 7rem;
  height: 7rem;
  pointer-events: none;
  overflow: hidden;
  border: 2px #2b2b2b dotted;
  z-index: 0;
}
@media (min-width: 768px) {
  .p-single-mv__title .p-single-mv__title-text02 {
    width: fit-content;
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .p-single-mv {
    margin-bottom: 6rem;
  }
  .p-single-mv__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .p-single-mv__title {
    font-size: 4rem;
    grid-column: 1 / span 4;
  }
  .p-single-title {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
  }
  .p-single-text {
    font-size: 1.6rem;
  }
  .p-single-detail,
  .p-single-scope {
    width: calc(100% - 40px);
    padding-block: 3rem;
  }
  .p-single-images__item {
    height: 40svh;
  }
  .p-single-next {
    height: 30rem;
    margin-bottom: -10rem;
  }
  .p-single-next span {
    font-size: 3rem;
  }
}
.p-error h1 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
}
@keyframes loop {
  0% {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
.p-single-detail {
  padding-block: 8rem;
  max-width: 800px;
  margin: 0 auto;
}
.p-single-images__item {
  margin-bottom: 2rem;
}
